.contacto-background {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.contact-aside {
    background: $primary-color;
    padding: 2rem 1rem 2rem 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: $secondary-color;
}
.contact-form{
    button{
        background-color: $primary-color;
        color: $secondary-color;
        margin-top: 1rem;
    }
}
