.index-background {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $primary-color;
    margin-top: 5rem;
}

.arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(37, 37, 37);
    z-index: 3;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    i {
        margin-top: 1rem;
        color: $secondary-color;
    }
}
.carousel-container {
    background-color: $primary-color;
}

.carousel-item img {
    background-color: $primary-color;
}

.productos-destacados {
    z-index: 1;
    background-color: $secondary-color;
    color: $primary-color;
}
.seccion-destacados {
    border-bottom: 1px solid $border-color;
    h1 {
        margin-top: 3rem;
    }
}
.destacados {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.precio-viejo {
    margin: 0;
    text-decoration: line-through;
}

.envios {
    img {
        height: 150px;
    }
}
.compra {
    img {
        height: 150px;
    }
}
.tarjeta {
    img {
        height: 150px;
    }
}
@media (min-width: 992px) {
    .envios-container {
        border-right: 1px solid $border-color;
    }
    .compra-container {
        border-right: 1px solid $border-color;
    }
}
@media (min-width: 1200px) {
    .index-background {
        margin-top: 0rem;
    }
}
