.index-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    height: 65rem;
    padding-top: 105rem;
    background-image: url(../images/background\ index.jpg);
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logo2 {
    position: absolute;
    position: fixed;
    margin-bottom: 60rem;
}

.carousel-container {
    background-color: $primary-color;
}

.carousel-item img {
    background-color: $primary-color;
}

.productos-destacados {
    z-index: 1;
    background-color: white;
    color: $primary-color;
}