.nosotros-background {
    background-color: $border-color;
}
.nosotros {
    padding: 10rem 2rem 5rem 2rem;
    margin: auto;
    font-size: 1.5rem;
    background-color: $secondary-color;
}
.logo2 {
    height: 150px;
    width: 150px;
}
.container-perfiles {
    margin-top: 5rem;
}
.perfiles {
    height: 150px;
    width: 150px;
}
